<a href="https://colab.research.google.com/github/dholmescodes/Pythonlabs/blob/main/M1Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice!

This lab is all about defining simple functions. Are you ready? Let's go!

You will find some small tasks in sections below.

## Define simple functions (without return value and parameters)

###Task: define a function that print "hello world"

In [ ]:
# your code will be here
def hello_world():
  print("hello world")

###Task: define a function that print "hello world" 3 times

In [ ]:
# your code will be here
def hello_world():
  for i in range(3):
    print("hello world")

###Task: define a function that print integers 1 to 10 (hint: you can use a for loop)

In [3]:
# your code will be here
def print_integers():
  i = 1
  while i <= 10:
    print(i)
    i += 1
print_integers()

1
2
3
4
5
6
7
8
9
10

###Task: define a function that print primary integers in 100 (hint: you can use loops)

In [5]:
# your code will be here
def print_primary_integers():
  for i in range(2, 101):
    for j in range(2, i):
      if i % j == 0:
        break
    else:
      print(i)
print_primary_integers()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

###Task: define a function that print even number from 1 to 10.

In [4]:
# your code will be here
def print_even_numbers():
  for i in range(1, 11):
    if i % 2 == 0:
      print(i)
print_even_numbers()

2
4
6
8
10

###Task: define a function that print odd number from 1 to 10

In [6]:
# your code will be here
def print_odd_numbers():
  for i in range(1, 11):
    if i % 2 != 0:
      print(i)
print_odd_numbers()

1
3
5
7
9

###Task: define a function that print "Welcome to Course 2"

In [7]:
# your code will be here
def welcome_to_course_2():
  print("Welcome to Course 2")
welcome_to_course_2()

Welcome to Course 2

###Task: define a function that print "Welcome to Courose 2" 10 times.

In [8]:
# your code will be here
def welcome_to_course_2():
  for i in range(10):
    print("Welcome to Course 2")
welcome_to_course_2()

Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2