<a href="https://colab.research.google.com/github/dholmescodes/Pythonlabs/blob/main/M4Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print all even numbers within 20

In [5]:
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

#Print all numbers dividble by 5 within 100

In [6]:
for item in range(0, 100, 5):
    print(item)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

#Print all integers from -5 to 5.

In [7]:
for item in range(-5, 6):
    print(item)

-5
-4
-3
-2
-1
0
1
2
3
4
5

#Print all integers of an itegral given by the user

In [10]:
integer1 = int(input("Enter an integer: "))
integer2 = int(input("Enter an integer: "))
for item in range(integer1, integer2+1):
    print(item)

Enter an integer: 0
Enter an integer: 10
0
1
2
3
4
5
6
7
8
9
10