<a href="https://colab.research.google.com/github/dholmescodes/Pythonlabs/blob/main/ParamM2Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice!

This lab is all about defining functions with multiple parameters. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "*message*" *n* times, where *message* and *n* are parameters

In [22]:
#print message n times where message and n are parameters
def message(message, n):
  for i in range(n):
    print(message)

In [25]:
message("message",3)

message
message
message

###Task: define a function that print integers *n*  to *m* (hint: you can use a for loop), where *n* and *m* are parameters, and *n < m*.

Challenge: Can you write a program that doesn't require *n < m*?

In [ ]:
# your code will be here

###Task: define a function that print the sum of *n*  to *m*, where *n, m* are parameters, and *n* < *m*.

In [11]:
# your code will be here
def sum(n,m):
  sum = 0
  for i in range(n,m+1):
    sum += i
  print(sum)

In [13]:
sum(1,2)

3

###Task: define a function that print the AND logical operation of *condition1* and *condition 2*, where *condition1, condition2* are parameters.

In [14]:
# your code will be here
def and_operation(condition1,condition2):
  print(condition1 and condition2)

In [16]:
and_operation(True, True)

True

###Task: define a function that print if *n* is dividible by *m*, where *n, m* are parameters.

In [17]:
# your code will be here
def divisible(n,m):
  if n % m == 0:
    print(True)
  else:
    print(False)

In [18]:
divisible(9,4)

False

###Task: define a function that print the minimal number from *x, y, z*, where *x, y, z* are parameters

In [19]:
# your code will be here
def minimal(x,y,z):
  print(min(x,y,z))

In [20]:
minimal(5,8,24)

5